# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
**/.env

# Build files
dist/
build/

# Uploads
uploads/
**/uploads/

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains IDE
.idea/